* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header span {
    font-size: 24px;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome-site {
    background-color: #1F2937;
    display: flex;
    padding: 100px;
    gap: 20px;
}

.awesome-site img {
    width: 800px;
    height: 300px;
}

.awesome-site #main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.awesome-site span {
    font-size: 18px;
    color: #E5E7EB;
}

.textAndButton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textAndButton button {
    background-color: #3882F6;
    color: white;
    padding: 4px 16px;
    border-radius: 10%;
    margin-top: 8px;
    border-color: #1F2937;
}

.illustration img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 8px 32px;
}

.random-info #informationHeader {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.mycards {
    display: flex;
    gap: 32px;
}


.illustration {
    display: flex;
    flex-direction: column;
}

.illustration span {
    width: 150px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 5% 25%;
}

p#quoteText {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

p#quoteAuthor {
    align-self: flex-end;
}

.signup {
    padding: 3% 10%;
}

.card {
    background-color: #3882F6;
    padding: 16px 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card button {
    padding: 0 16px;
    border-radius: 4px;
    border-color: white;
    background-color: #3882F6;
    color: white;
}

.text {
    display: flex;
    flex-direction: column;
}
.text #maintext{
    color: white;
    font-size: 24px;
}

.text #subtext {
    color: white;
    font-weight: lighter;
}